.nav {
  display: flex;
  flex-direction: row;
  height: 30vh;
}

.search-field {
  border: white;
  border-radius: 5px;
  font-size: x-large;
  font-weight: bold;
  height: 5.5vh;
  margin-top: 30%;
  width: 13rem;
}

.search-field::placeholder {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.button {
  background-color: #C70039;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 5.5vh;
  margin-top: 30%;
  text-align: center;
  width: 6vw;
}
.search-wrapper {
  align-items: center;
  display: flex;
  height: 9rem;
  justify-content: space-around;
  width: 20rem;
}
