.nav {
  display: flex;
  flex-direction: row;
  height: 30vh;
}

.logo {
  margin-left: 13%;
}

.title {
  color: white;
  font-size: 60px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6%;
}

.search-field {
  border: white;
  border-radius: 5px;
  font-size: x-large;
  height: 4vh;
  margin-top: 7%;
  width: 13rem;
}

.search-field::placeholder {
  font-size: 18px;
  text-align: center;
}

.button {
  background-color: #C70039;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  height: 5.5vh;
  margin-top: 7%;
  text-align: center;
  width: 5vw;
}
.search-wrapper {
  align-items: center;
  display: flex;
  height: 9rem;
  justify-content: space-around;
  width: 20rem;
}
