*{
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.loading,
.error {
  color: white;
}

.loading {
  font-size: 40px;
  margin-left: 43%;
}

.error {
  font-size: 40px;
  margin-left: 24%;
}

.logo {
  margin-left: 13%;
}

.title {
  color: white;
  font-size: 60px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6%;
}